body {
    background-image: URL(./img/https___hypebeast.com_image_2020_04_pokemon-pikachu-video-chat-backgrounds-download-info-003.avif);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    margin: 0;
    font-family: "Azeret Mono", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    scroll-behavior: smooth;
}

main {
    flex: 1;
    max-width: 1920px;
    margin: 0 auto;
}

header {
    background-color: rgb(120, 120, 228);
}

.header-container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pkm-Logo {

    width: 250px;
}


.header-logo {
    width: 100px;
    padding-left: 20px;
    transition: transform 0.6s ease-in-out;
    transform-origin: 70px 50px;
}

.header-logo:hover {
    transform: rotate(360deg);
    cursor: pointer;
    animation: rotateInf 1s linear infinite;
}

@keyframes rotateInf {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.pkm {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.pkm-img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.types-wrapper {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.type {
    text-align: center;
    width: 85px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.4);
    padding: 4px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.pkm img {
    width: 150px;
    max-height: 150px;
}

.pkm-id {
    color: aquamarine;
    padding-left: 4px;
}

.pkm-card-wrapper {
    position: relative;
    height: 250px;
}


.card {
    position: relative;
    color: black;
    width: 190px;
    height: 254px;
    border-radius: 10px;
    margin: 14px;
    background: white;
    object-fit: cover;
    transition: all .3s;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    filter: drop-shadow(0 0 5px #a44cff);
}

.bigCard {
    position: relative;
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: 220%;
    background-image: URL(./img/2151954505.jpg);
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
    transform: scale(1.1) rotate(1deg);
    filter: drop-shadow(0 0 15px #c26fff) brightness(1.2) saturate(1.3);
}

.header-input {
    padding-right: 50px;
    display: flex;
    gap: 10px;
}

.search-pokemon-inputfield {
    padding: 9px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid #ffffff;
}

.lupe {
    width: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.lupe:hover {
    transform: scale(1.33);
}

.pkm-name {
    color: white;
    text-align: center;
    font-weight: 700;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}


.big-type {
    width: 120px;
}

.green {
    background-color: green;
}

.dark-green {
    background-color: rgb(32, 75, 32);
}

.purple {
    background-color: purple;

}

.blue {
    background-color: blue;
}

.white {
    background-color: rgb(121, 185, 238);
}


.red {
    background-color: red;
}

.indianred {
    background-color: indianred;
}

.yellow {
    background-color: yellow;
}

.brown {
    background-color: peru;
}

.pink {
    background-color: deeppink;
}

.orange {
    background-color: coral;
}

.magenta {
    background-color: rgb(190, 10, 190);
}

.light-blue {
    background-color: aqua;
}

.light-brown {
    background-color: chocolate;
}

.light-green {
    background-color: aquamarine;
}

.gold {
    background-color: darkgoldenrod;
}

.darkgray {
    background-color: darkgray;
}

.dialog-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 80vw;
    background-color: rgba(7, 23, 43, 0.80);
    color: white;
    font-size: 20px;
    border-radius: 12px;
    border: 2px solid rgb(124, 121, 121);
}

.big-pkm-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bigPkmImage {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 20;
    right: -25px;
    bottom: 180px;

}

.arrow-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    z-index: 5;
}

.arrow {
    width: 150px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    filter: drop-shadow(0 0 5px #a44cff);
    pointer-events: auto;
}

.arrow:hover {
    transform: scale(1.1) rotate(1deg);
    filter: drop-shadow(0 0 15px #c26fff) brightness(1.2) saturate(1.3);
    cursor: pointer;
}

.pokeball {
    position: absolute;
    width: 100px;
    top: 120px;
    right: 100px;
    margin: auto;
    z-index: 0;
}

.head-pkm-card {
    background-color: white;
    z-index: -2;
    border-radius: 12px;
    height: 200px;
}

.big-pkm-name {
    text-align: center;
    height: 80px;
    top: 0;
    font-weight: 700;

}

.big-types-wrapper {
    padding-left: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.stats-wrapper {
    height: 180px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding-left: 5px;
}

.progress-container {
    margin-top: 14px;
    display: flex;
    width: 100%;
    max-width: 140px;
    border-radius: 10px;
    padding-left: 10px;
    flex-direction: column;
    gap: 2px;
}

.progress-bar {
    height: 14px;
    font-size: 10px;
    background-color: #3074f1;
    width: 0%;
    color: white;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
    border-radius: 4px;
}

.stat-name {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

.load-pkm-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.load-pmn-btn {
    padding: 12px 24px;
    background: rgba(59, 144, 194, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.0);
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 20px auto;
    display: block;
}

.load-pmn-btn:hover {
    background: rgba(6, 135, 221, 0.25);
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#loading-overlay.hidden {
    display: none;
}

.loading {
    width: 60px;
    height: 60px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ff3d3d;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.no-results {
    color: black;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

footer {
    background-color: rgb(120, 120, 228);
}

.footer-container {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
}


.arrow-up {
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.arrow-up:hover {
    transform: scale(1.1);
    filter: brightness(1.2) drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));
}

.slide-to-top {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    cursor: auto
}

.test {
    border: 1px solid;
}

@media (max-width: 1100px) {
    .pkm-Logo {
        width: 200px;
        padding-left: 100px;
    }
}

@media (max-width: 900px) {
    .header-input {
        padding-right: 30px;
    }

    .bigCard {
        width: 260px;
        height: 360px;
        background-size: 220%;
    }

    .head-pkm-card {
        height: 150px;
    }

    .bigPkmImage {
        width: 100px;
        height: 150px;
        right: -14px;
        bottom: 170px;
    }

    .big-pkm-name {
        height: 60px;
        top: 0;
        font-weight: 700;
    }

    .dialog-window {
        font-size: 16px;
    }

    .progress-container {
        height: 15px;
        max-width: 140px;
        border-radius: 10px;
        padding: 10px;
        gap: 2px;
    }

    .progress-bar {
        height: 14px;
        font-size: 8px;
        line-height: 16px;
        max-width: 80px;

    }

    .pokeball {
        width: 88px;
        top: 81px;
        right: 84px;
    }

    .big-type {
        width: 80px;
        font-size: 12px;
    }

    .arrow {
        width: 140px;
    }

    .arrow-wrapper {
        gap: 20px;
        margin-top: 250px;
    }

}

@media (max-width: 680px) {
    .pkm-Logo {
        width: 150px;
        padding-left: 100px;
        display:none;
    }
}

@media (max-width: 600px) {
    .slide-to-top {
        font-size: 12px;
        flex-direction: column;
    }

    .right-footer {
        font-size: 12px;
        max-width: 100px;
    }

    .pkm-Logo {
        display: none;
    }

    .header-logo {
        width: 80px;
        padding-left: 20px;
        transform-origin: 60px 40px;

    }

    .search-pokemon-inputfield {
        padding: 6px 10px;
        margin-right: 60px;
    }

    .header-input {
        padding-right: 10px;
        gap: 10px;
    }

}

@media (max-width: 500px) {
    .bigCard {
        width: 200px;
        height: 280px;
    }

    .head-pkm-card {
        height: 130px;
    }

    .bigPkmImage {
        width: 80px;
        height: 150px;
        right: -10px;
        bottom: 90px;
    }

    .big-pkm-name {
        height: 40px;
        top: 0;
        font-weight: 700;
    }

    .dialog-window {
        height: 70vh;
        width: 90vw;
    }

    .progress-container {
        height: 15px;
        max-width: 140px;
        border-radius: 10px;
        padding: 4px;
        gap: 0px;
        margin-top: 6px;
    }

    .progress-bar {
        height: 8px;
        font-size: 8px;
        background-color: #3074f1;
        width: 0%;
        color: white;
        text-align: center;
        line-height: 10px;
        max-width: 80px;

    }

    .pokeball {
        width: 70px;
        top: 75px;
        right: 65px;
    }

    .big-type {
        width: 80px;
        font-size: 12px;
    }

    .arrow {
        width: 100px;
    }

    .arrow-wrapper {
        gap: 20px;
        margin-top: 180px;
    }

        .search-pokemon-inputfield {
        margin-right: 40px;
        width: 160px;
        margin-left: 30px;
    }
}